/*
*  Media Query Css
*  1.0 - Mobile Devices
*  2.0 - Tablet Devices
*  3.0 - Mix Queries 
*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/************************************************* 1.0 - Mobile Devices ***********************************/
@media screen and (max-width: 767px) {
	.container {
	    max-width: 100% !important;
	}
	.main_header_wrap .top-social {
		display: none;
	}
	.top_main_wrap {
	    justify-content: center;
	}
	.top-buttons p {
    	margin-left: 10px;
	}
	.top-buttons a {
    	font-size: 13px;
	}
	.bottom-header .navbar-toggler-icon {
	    display: block;
	    width: 32.35px;
	    height: 5px;
	    content: "";
	    background-color: #f47f62;
	    border-radius: 5px;
	    margin-bottom: 3px;
	}	
	.navbar.navbar-expand-lg {
    	text-align: center;
    	justify-content: center;
	}
	.bottom-header .navbar-brand img {
    	width: 170px;
    	object-fit: contain;
    	margin-left: -15px;
	}
	.bottom-header .navbar-toggler {
	    position: absolute;
	    right: 0;
	    top: 25px;
	}

	.banner_content {
		text-align: center;
	}
	.banner_content h1 {
	    font-size: 40px;
	    text-align: center;
	}
	.banner_wrap {
		background-size: cover;
	}
	.banner_wrap .bnr_content {
	    min-height: 503px;
	}
	.banner_pts {
    	display: inline-block;
    	justify-content: center;
    	text-align: center;
	}
	.breadcrumb-item {
	    display: inline;
	}

	.plant_content h2 {
	    font-size: 28px;
	    padding-right: 0;
	    text-align: center;
	}
	.plantation_wrapper {
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding-top: 55px;
	}
	.plant_img {
	    text-align: center;
	    margin-top: 30px;
	    margin-left: -50px;
	}
	.plant_img img {
	    width: 200px;
	    margin: 0 auto;
	}
	.popular_modals_wrap {
	    background-repeat: no-repeat;
	    background-size: 230%;
	    background-position: bottom;
	    margin-top: 0;
	    padding-top: 20px;
	    padding-bottom: 0;
	}
	.popular_modals_wrap .model_block {
    	margin-bottom: 50px;
	}
	.whyus_header {
    	padding-top: 45px;
	}
	.whyus_header_inner {
	    width: 100%;
	    margin: 0 auto;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.whyus_header h2 {
	    font-size: 35px;
	}
	.whyus_header p {
	    font-size: 16px;
	}
	.why_main_wrap {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    padding-bottom: 0;
	}
	.whyus_side {
	    width: 100%;
	    order: 3;
	    display: inline-block;
	}
	.whyus_image {
	    max-width: 100%;
	    margin-top: -90px;
	    position: relative;
	    text-align: center;
	}
	.whyus_image img {
    	max-width: 300px;
    	filter: drop-shadow(2px 7px 6px rgba(0,0,0,0.18));
	}
	.why_content_left li {
    	display: flex;
    	margin-bottom: 10px;
	}
	.why_content_left.why_right {
	    padding-left: 0;
	    padding-right: 0;
	    margin-top: 0;
	}
	.why_feature_wrap {
    	display: block;
	}
	.why_feature_block {
	    display: flex;
	    width: 100%;
	    margin-bottom: 30px;
	    margin-right: 0;
	}
	.why_image {
    	max-width: 75px;
    	width: 75px;
	}
	.why_image img {
	    max-width: 100px;
	    height: 85px;
	    object-fit: cover;
	    border-radius: 10px;
	}
	.why_feature_info {
    	padding-left: 20px;
	    padding-top: 0;
	}
	.why_feature_info h3 {
	    font-size: 26px;
	    color: #3b65af;
	}
	.why_feature_info p {
	    font-size: 16px;
	}
	.why_quote_wrap,
	.plan_support_quote {
	    width: 100%;
	    padding: 30px 20px;
	    margin-top: 45px;
	}
	.whyus_services .row{
		display: block;
	}
	.whyus_services .col-md-2 {
	    width: calc(50% - 5px);
	    display: inline-block;
	}
	.service_block h2 {
	    line-height: 1.2;
	    font-size: 16px;
	}
	.service_block img {
	    height: 110px;
	    width: 65px;
		}
	.service_block {
	    text-align: center;
	    margin-bottom: 20px;
	}
	.whyus_services {
    	padding-top: 15px;
	}
	.whyus_wrapper {
    	padding-bottom: 30px;
	}
	.locator_content h2 {
	    font-size: 24px;
	}
	.locator_content .btn_3 {
	    min-width: 260px;
	    min-height: 51px;
	    font-size: 16px;
	}
	.locator_content h2 {
    	font-size: 24px;
    	text-align: center;
	}
	.locator_wrapper {
    	background-size: cover;
        min-height: 380px;
	}
	.free_flood_content {
	    display: block;	
	}
	.flood_icon {
	    margin-right: 20px;
	}
	.flood_icon img {
    	width: 65px;
	}
	.flood_text h2 {
    	font-size: 30px;
    	width: 100%;
	}
	.flood_text p {
	    margin-left: -80px;
	}
	.flood_btn .btn_4 {
	    min-width: 100%;
	    min-height: 50px;
	    line-height: 50px;
	    font-size: 20px;
	}
	.flood_btn {
	    margin-left: 0;
	    margin-right: 0;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.flood_imgs {
    	text-align: center;
	}
	.mob_hde {
	    display: none;
	}
	.footer_links_block.footer_contact {
	    text-align: center;
	}
	.footer_info {
	    text-align: center;
	    padding-top: 35px;
	}
	.footer_logo img {
	    width: 190px;
	}
	.footer_info .top-social ul {
		justify-content: center;
	}
	.footer_wrapper .col {
    	flex-basis: unset;
    	flex-grow: unset;
	}
	.footer_info .top-social {
	    margin-left: -20px;
	    margin-top: 30px;
	}
	.footer_copyright {
	    text-align: center;
	}
	.footer_wrapper {
	    padding-top: 40px;
	}
	/*Catalog*/
	.catalog_content_wrap {
	    padding-top: 35px;
	}
	.tabs_left_main h2 {
	    text-align: center;
	}
	.tabs_left_main .nav-pills .nav-link.active, 
	.tabs_left_main .nav-pills .show > .nav-link {
	    width: 100%;
	}
	.tabs_left_main ul.nav.nav-pills li a {
	    text-align: center;
	}
	#pills-tabContent {
	    padding-top: 25px;
	    border-top: 1px solid #ddd;
	    margin-top: 30px;
	}
	.tabs_left_main ul.nav.nav-pills {
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 15px;
	    margin-bottom: 0;
	}
	.tab_left_links {
	    margin-top: 35px;
	    text-align: center;
	}
	.tab_header h2 {
	    font-size: 40px;
	    color: #1e4080;
	    padding-bottom: 40px;
	}	
	.catalog_content_wrap .model_block {
	    padding-bottom: 45px;
	}
	.catalog_content_wrap .model_inner {
	    text-align: center;
	}
	/*End*/

	/*ContactUs*/
	.contactus_wrapper .row {
	    padding-top: 40px;
	}
	.contact_form_wrapper {
	    max-width: calc(100% - 20px);
	    padding: 15px;
	    margin-left: 10px;
	}
	.contact_form_wrapper .form-control {
	    width: 100%;
	    height: 50px;
	    border-radius: 5px;
	}
	.contact_form_wrapper .col {
	    flex-basis: unset;
	    margin-bottom: 15px;
	}
	.contactus_wrapper .form-row.form-group {
	    padding-bottom: 0;
	}
	.contact_form_wrapper .form-row.form-group.form-space1 {
	    padding-bottom: 0;
	    margin-bottom: 0;
	}
	.three_field {
	    display: block;
	}
	.contact_form_wrapper .form-row.form-group.form-space2 {
	    padding-bottom: 0;
	    margin-bottom: 0;
	}
	.contact_form_wrapper .g-recaptcha {
    	margin-left: -5px;
	}
	.contact_btn {
	    padding-top: 20px;
	    text-align: center;
	}
	.contact_form_wrapper label {
	    font-size: 18px;
	    padding-bottom: 10px;
	    margin-left: 0;
	}
	.innerpage_content h2 {
	    font-size: 35px;
	}
	.field_wrap,
	.field_wrap2 {
	    margin-bottom: 15px;
	}
	/*End*/
	/*Plan Support*/
	.plan_support_block {
	    padding-top: 50px;
	    padding-bottom: 80px;
	}
	.plan_content_img {
	    padding-right: 0;
	}
	.plan_content_img img {
	    width: 100%;
	    height: 249px;
	    float: none;
	    margin-right: 0;
	    margin-bottom: 20px;
	    margin-top: 12px;
	}
	.plan_content {
	    padding-bottom: 0;
	}
	/*End*/
	/*Product_Page*/
	.product_cart_block {
	    border: 2px solid #bec9ca;
	    border-radius: 10px;
	    min-height: 470px;
	    min-width: 100%;
	    margin-top: 40px;
	}
	.product_left_block {
	    padding-right: 0;
	    margin-left: 0;
	}
	#sync2 .item img {
	    height: 60px;
	    width: 100%;
	    object-fit: cover;
	}
	.about_product_wrap {
	    padding-top: 45px;
	    padding-right: 0;
	}
	.product_mdl .mdl-no {
	    font-size: 40px;
	}
	.product_prce p {
    	font-size: 35px;
	}
	.prduct_dtls ul {
	    padding: 20px 20px 0 20px;
	}
	.product_page_wrapper {
	    padding-bottom: 60px;
	}
	.product_right_block .tab_left_links ul li {
	    margin-bottom: 10px;
	    padding-right: 0;
	}
	#sync1 .item img {
	    height: 250px;
	}
	/*End*/
	/*Register_sv*/
	.sv_regiter_wrapper .register_form_wrapper {
	    padding: 15px;
	}
	.sv_regiter_wrapper .reg_title {
	    padding-bottom: 40px;
	}
	.sv_regiter_wrapper .register_form_wrapper .field_wrap .form-control,
	.sv_regiter_wrapper .register_form_wrapper .field_wrap2 .form-control,
	.sv_regiter_wrapper .register_form_wrapper .form-control,
	.sv_regiter_wrapper .register_form_wrapper .field_wrap3 .form-control {
	    width: 100%;
	}
	.register_product_info {
    	padding-bottom: 25px !important;
	}
	.feedback_form .feed_block_radio {
	    padding-bottom: 6px;
	    background-color: #eee;
	    margin-bottom: 22px;
	    padding: 10px;
	    border-radius: 5px;
	}
	.feedback_form .form-check.form-check-inline {
	    margin-left: 0;
	    margin-right: 20px;
	}
	.install_rating {
	    margin-left: 0;
	}
	.star-rating {
	    justify-content: flex-end;
	}
	.star-rating label {
	    font-size: 40px !important;
	}
	.sv_regiter_wrapper .register_form_wrapper .form-control{
		width: 100% !important;
	}
	.feed_browse {
	    margin-left: 0;
	    margin-bottom: 40px;
	}
	.browse_block span {
	    font-size: 15px;
	}
	.browse_block button {
	    min-width: 140px;
	    min-height: 40px;
	    margin-left: 5px;
	}
	.agree_check {
	    padding: 15px 0px 0 0;
	    width: 100%;
	}
	.regsiter_submit_wrap {
	    display: block;
	    align-items: center;
	}
	.register_btn .regisbtn_lnk {
	    margin-top: 40px;
	    margin-left: 0;
	}
	/*End*/
}


/************************************************* 2.0 - Tablet Devices ***********************************/
@media screen and (max-width: 1024px) and (min-width: 768px){
	.container {
	    max-width: 100% !important;
	}
	.bottom-header .navbar-toggler-icon {
	    display: block;
	    width: 32.35px;
	    height: 5px;
	    content: "";
	    background-color: #f47f62;
	    border-radius: 5px;
	    margin-bottom: 3px;
	}
	.bottom-header {
    	background-color: #1e4080;
    	padding: 5px 0 5px 0;
	}	
	.navbar-brand img {
    	width: 150px;
	}
	.banner_wrap {
	    background-size: cover;
	    min-height: 400px;
	}
	.banner_content h1 {
	    font-size: 35px;
	    margin-bottom: 40px;
	}
	.banner_content .btn_1 {
	    padding: 12px 46px 13px 46px;
	}
	.banner_wrap .bnr_content {
	    min-height: 400px;
	}
	.banner_pts li a {
    	font-size: 14px;
	}
	.plantation_wrapper {
	    background-size: 140%;
	    padding-top: 45px;
	}		
	.plant_content h2 {
	    font-size: 25px;
	    padding-right: 0;
	}
	.plant_img {
    	position: relative;
    	z-index: 9;
	}
	.model_block p {
    	font-size: 16px;
	}
	.popular_modals_wrap {
	    padding-bottom: 60px;
	    background-position: bottom;
	    position: relative;
	    margin-top: -50px;
	}
	.whyus_header_inner {
	    width: 100%;
	}
	.whyus_header {
	    padding-top: 50px;
	    min-height: 350px;
	}
	.whyus_image {
	    max-width: 370px;
	    margin-top: -80px;
	    position: relative;
	    margin-left: -5px;
	}
	.whyus_image img {
	    max-width: 370px;
	    filter: drop-shadow(2px 8px 7px rgba(0,0,0,0.18));
	}
	.why_feature_wrap {
	    padding-top: 0;
	}
	.why_feature_block {
	    width: 100%;
	    margin-right: 25px;
	}
	.why_image {
	    max-width: 80px;
	    width: 80px;
	}
	.why_image img {
	    max-width: 100px;
	    height: 110px;
	}
	.why_feature_info {
    	padding-left: 30px;
    	padding-top: 0;
	}
	.why_feature_info h3 {
    	font-size: 23px;
	    color: #3b65af;
	}
	.why_feature_info p {
	    font-size: 16px;
	}
	.why_quote_wrap {
	    width: 100%;
	}
	.service_block img {
	    height: 100px;
	    width: 55px;
	}
	.service_block h2 {
	    font-size: 14.72px;
	    width: 100%;
	    line-height: 1.3;
	}
	.whyus_services {
    	padding-top: 15px;
	}
	.whyus_wrapper {
    	padding-bottom: 50px;
	}
	.locator_wrapper {
	    min-height: 380px;
	    background-size: cover;
	}
	.flood_icon {
    	margin-right: 15px;
	}
	.flood_icon img {
	    width: 50px;
	}
	.flood_text h2 {
    	font-size: 27px;
    	width: 100%;
	}
	.flood_btn .btn_4 {
	    min-width: 150px;
	    min-height: 40px;
	    line-height: 40px;
	    font-size: 19px;
	}	
	.footer_info {
    	text-align: center;
	}
	.footer_info .top-social {
    	margin-left: 1px;
	}
	.footer_info .top-social ul{
		justify-content: center;
		margin-left: -17px;
	}
	.footer_copyright {
    	text-align: center;
	}
	/*Catalog*/
	.tabs_left_main .nav-pills .nav-link.active, 
	.tabs_left_main .nav-pills .show > .nav-link {
	    width: 100%;
	}
	.catalog_content_wrap .model_block {
	    border: 1px solid #ddd;
	    padding: 10px;
	    background-color: #fff;
	    margin-bottom: 20px;
	    border-radius: 10px;
	}
	.catalog_content_wrap .model_block p {
	    padding-bottom: 23px;
	}
	.catalog_content_wrap .model_inner .btn_2 {
	    min-width: 100%;
	    margin-bottom: 10px;
	}
	.catalog_content_wrap .model_block .btn_5 {
	    min-width: 100%;
	    margin-left: 0;
	}
	/*End*/
	/*ContactUs*/
	.contactus_wrapper .row {
	    padding-top: 50px;
	}
	.contact_form_wrapper .form-control {
	    width: 100%;
	}
	.contact_form_wrapper {
	    max-width: calc(100% - 20px);
	    padding: 20px;
	    margin-left: 5px;
	}
	.field_wrap,
	.field_wrap2 {
	    margin-right: 10px;
	}
	/*End*/
	/*Plan Support*/
	.plan_support_quote {
	    width: 100%;
	    padding: 38px 45px 45px 45px;
	    margin-top: 30px;
	}
	.plan_content {
	    padding-bottom: 0;
	}
	/*End*/
	/*Product_Page*/
	#sync1 .item img {
	    height: 220px;
	}
	.about_product_wrap {
	    padding-top: 45px;
	    padding-right: 10px;
	}
	.product_cart_block {
	    min-height: 500px;
	    min-width: 100%;
	}
	.prduct_dtls ul {
	    padding: 25px 30px 0 25px;
	}
	.product_left_block {
	    padding-right: 0;
	    margin-left: 0;
	}
	/*End*/
	/*Register_sv*/
	.sv_regiter_wrapper .register_form_wrapper {
	    padding: 25px;
	}
	.sv_regiter_wrapper .register_form_wrapper .form-control,
	.sv_regiter_wrapper .register_form_wrapper .field_wrap .form-control,
	.sv_regiter_wrapper .register_form_wrapper .field_wrap2 .form-control, 
	.sv_regiter_wrapper .register_form_wrapper .field_wrap3 .form-control{
		width: 100%;
	}
	.sv_regiter_wrapper .adj-form .col{
		flex-grow: 1;
	}
 	.sv_regiter_wrapper .contact_form_wrapper .form-row.form-group.form-space2 {
	    padding-bottom: 0;
	}
	.feedback_form .form-check.form-check-inline {
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.feedback_form .form-check-label {
	    margin-left: 0;
	}
	.star-rating {
	    justify-content: flex-end;
	}
	.feed_expnce textarea.form-control {
	    max-width: 360px;
	    width: 360px !important;
	}
	.feed_browse {
	    margin-left: 15px;
	    margin-bottom: 40px;
	}
	.browse_block button {
	    margin-left: 0px;
	}
	.agree_check {
	    padding: 29px 0 0 27px;
	    width: 100%;
	}
	/*End*/
}

/************************************************* 3.0 - Mix Queries ***********************************/
@media screen and (max-width: 340px) and (min-width: 320px) {
	.top-buttons a {
	    font-size: 11px;
	}
}
@media screen and (max-width: 350px) and (min-width: 341px) {
	.top-buttons a {
	    font-size: 12px;
	}
}
@media screen and (max-width: 1025px) and (min-width: 992px){
	.navbar-nav li a.nav-link {
	    font-size: 16px;
	}
	.product_mdl .mdl-no {
	    font-size: 40px;
	}
	.product_prce p {
	    font-size: 35px;
	}	
}
@media screen and (max-width: 4500px) and (min-width: 1650px){
	.plantation_wrapper {
		background-position: bottom;
		position: relative;
    	z-index: 9;
	}
	.h_txt {
	    position: relative;
	    z-index: 99;
	}
	.whyus_services {
	    width: 1250px;
	    margin: 0 auto;
	}
}
@media screen and (max-width: 7000px) and (min-width: 4501px){
	.plant_content h2 {
	    margin-top: 70px;
	}
	.popular_modals_wrap {
    	padding-top: 50px;
	}
	.whyus_services {
	    width: 1250px;
	    margin: 0 auto;
	}
}

/********************************************************************* The End ******************************************************