/*
*  CSS TABLE OF CONTENTS
*   1.0 - Basic/Comman Element Css
*   2.0 - HomePage Style
*   3.0 - Catalog Style
*   4.0 - ProductPage Style
*   5.0 - PlanSupport Style
*   6.0 - ContactUs Style
*   7.0 - Register_SV Style
*/

/*--------------------------------------------------------------------------------------------------------------------------------------*/

/************************************** 1.0 - Basic/Comman Element Css ************************/
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding-left: 0;
}

ul li {
    list-style: none;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-control:focus {
    box-shadow: none;
}

body {
	font-family: SofiaBold;
}
@font-face {
    font-family: SofiaBold;
    src: url(../fonts/SofiaProBold.ttf);
}

@font-face {
    font-family: SofiaSoft;
    src: url(../fonts/SofiaProSoft.ttf);
}

.container{
	max-width: 1290px;
}
/************************************** 2.0 - HomePage Style ************************/

.top-header {
    background-color: #f7f8f8;
    padding: 12px 0;
}
.top_main_wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-buttons,
.top-social ul {
    display: flex;
}
.top-social {
    margin-left: 30px;
}
.top-buttons a {
    color: #1f4181;
    font-size: 14px;
}
.top-buttons img {
    margin-right: 5px;
}
.top-buttons p {
    margin-left: 25px;
}
.top-buttons span {
    vertical-align: middle;
}
.top-social ul li a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: #f47f62;
    color: #fff;
    margin-left: 17px;
    text-align: center;
    border-radius: 100%;
    font-size: 12px;
    line-height: 22px;
    transition: all 0.3s;
}
.top-social ul li a:hover {
    background-color: #1e4080;
}

.bottom-header {
    background-color: #1e4080;
    padding: 15px 0 10px 0;
}
.navbar-brand img {
    width: 238px;
    object-fit: contain;
}
.navbar-nav li {
    margin-left: 10px;
}
.navbar-nav li a.nav-link {
    font-size: 20px;
    color: #fff;
    transition: all ease-in 0.2s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: #0f306d;
    border-radius: 60px;
    padding-top: 5px;
    margin-top: 3px;
}
.navbar-nav .dropdown-toggle::after {
    display: inline-block;
    margin-left: 2px;
    vertical-align: -1px;
    border:none !important;
    content: "\f107";
    font-family: fontawesome;
    color: #f47f62;
}
.navbar-nav .dropdown-menu a {
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
    text-align: center;
    color: #1e4080;
}
.navbar-nav .dropdown-menu a:last-child{
	border: none;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    box-shadow: 2px 3px 0px rgba(0,0,0,0.1);
}

/*Banner*/
.banner_wrap {
    position: relative;
    background-color: #101010;
    min-height: 590px;
    width: 100%;
    /*background-image: url(../images/banner.png);*/
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner_wrap .bnr_content {
	width: 100%;
	min-height: 590px;
}
.banner_wrap::before {
    background-color: #101010;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.30;
}
.banner_wrap img {
    height: 590px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.banner_wrap .col-md-6 {
	position: unset;
}
.banner_content {
    position: absolute;
    top: 30%;
}
.banner_content h1 {
    font-size: 55px;
    color: #fff;
    margin-bottom: 60px;
}
.banner_content .btn_1 {
    background-color: #1f4180;
    color: #fff;
    font-size: 20.57px;
    padding: 12px 86px 13px 86px;
    border-radius: 55px;
    transition: all 0.4s;
}
.banner_content .btn_1:hover {
    background-color: #fff;
    color: #1f4180;
}
.banner_info_strip {
    position: relative;
    background-color: #f47f62;
    padding: 15px 0;
    margin-top: -2px;
}
.banner_pts {
    display: flex;
    justify-content: center;
}
.banner_pts li a {
    color: #fff !important;
    font-size: 20px;
}
.banner_info_strip .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
    content: "/";
    font-size: 20px;
}

/*Plantation*/

.plantation_wrapper {
    background-image: url(../images/shape_feature.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 58px;
    background-color: #f7f8f8;
}
.plant_content h2 {
    font-size: 40px;
    color: #fff;
    padding-right: 30px;
}
.plant_content h2 span {
    color: #f47f62;
}
.plant_img {
    position: relative;
    z-index: 9;
}

/*Models*/
.popular_modals_wrap {
    background-image: url(../images/product_bg.png);
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-color: #f7f8f8;
    background-size: 100%;
    background-position: 0 60px;
    position: relative;
    margin-top: -80px;
}
.popular_modals_wrap .header {
    margin-bottom: 50px;
}
.h_txt {
    font-size: 55px;
    -webkit-text-stroke: 1px #1e4080;
    color: #f7f8f8;
}
.h_txt span {
    display: block;
    color: #1e4080;
}

.model_block img {
    border-radius: 10px;
    height: 147.85px;
    width: 100%;
    object-fit: cover;
}
.model_block h3 {
    font-size: 24px;
    color: #7f8f98;
    padding-bottom: 5px;
}
.model_block p {
    font-size: 20px;
    color: #7f8f98;
    font-family: SofiaSoft;
    line-height: 1.2;
    padding-bottom: 40px;
}
.model_inner {
    padding-right: 20px;
    padding-top: 12px;
}
.model_inner .btn_2 {
    border: 2px solid #1e4080;
    padding: 3px 21px;
    border-radius: 52px;
    font-size: 14px;
    color: #1e4080;
    transition: all 0.4s;
}
.model_inner .btn_2:hover {
    background-color: #1e4080;
    color: #fff;
}

/*Why us*/
.whyus_wrapper {
    padding-bottom: 90px;
    background-color: #f7f8f8;
}
.whyus_header {
    background-image: url(../images/whyus_bg.png);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 410px;
    background-position: center;
    background-color: #1f4180;
    padding-top: 80px;
}
.whyus_header h2 {
    font-size: 45px;
    color: #fff;
    padding-bottom: 10px;
}
.whyus_header p {
	font-size: 20px;
	color: #fff;
    font-family: SofiaSoft;
    line-height: 1.5;
}
.whyus_header_inner {
    width: 940px;
    margin: 0 auto;
}

.why_main_wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.whyus_side {
	width: 200px;
}
.whyus_image {
    max-width: 884px;
    margin-top: -120px;
    position: relative;
}
.whyus_image img {
	max-width: 885px;
	filter: drop-shadow(2px 16px 21px rgba(0,0,0,0.18));
}
.why_content_left li {
    display: flex;
    margin-bottom: 27px;
}
.why_content_left li span{
	font-size: 30px;
	color: #f47f62;
}
.why_content_left li p {
    color: #1e4180;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 4px;
}
.why_content_left {
	padding-right: 30px;
	margin-top: 30px;
}
.why_content_left.why_right {
    padding-left: 20px;
    padding-right: 0;
}

.why_feature_wrap {
    display: flex;
    padding-top: 25px;
    justify-content: center;
}
.why_feature_block {
    display: flex;
    width: 500px;
    margin-right: 85px;
}
.why_feature_wrap .why_feature_block:last-child {
    margin-right: 0;
}
.why_image {
    max-width: 190px;
    width: 190px;
}
.why_image img {
    max-width: 190px;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
}
.why_feature_info {
    padding-left: 50px;
    padding-top: 20px;
}
.why_feature_info h3 {
    font-size: 30px;
    color: #3b65af;
}
.why_feature_info p {
    font-family: SofiaSoft;
    font-size: 20px;
    color: #7f8f98;
    line-height: 1.3;
    padding-top: 5px;
}


.why_quote_wrap,
.plan_support_quote {
    width: 985px;
    margin: 0 auto;
    background-color: #1e4180;
    padding: 38px 45px 45px 45px;
    border-radius: 20px;
    text-align: center;
    margin-top: 75px;
}
.why_quote_wrap p,
.plan_support_quote p {
    font-size: 24px;
    color: #fff;
    font-family: SofiaSoft;
    line-height: 1.1;
}
.why_quote_wrap p span {
    font-family: SofiaBold;
}


.whyus_services {
    padding-top: 75px;
}
.service_block {
    text-align: center;
}
.service_block img {
    height: 110px;
    object-fit: contain;
    margin: 0 auto;
    width: 85px;
    text-align: center;
}
.service_block h2 {
    font-size: 16.72px;
    color: #3b65af;
    width: 120px;
    margin: 0 auto;
    padding-top: 8px;
}


/*Location_block*/
.locator_wrapper {
    background-color: #f47f62;
    background-image: url(../images/location_bg.png);
    min-height: 440px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}
.locator_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.locator_content h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0 30px 0;
}
.locator_content .btn_3 {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100px;
    min-width: 322px;
    min-height: 61px;
    text-align: center;
    color: #fff;
    font-size: 21px;
    line-height: 51px;
    transition: all 0.4s;
    transform: scale(1);
}
.locator_content .btn_3:hover {
    transform: scale(1.08);
}
.locator_content .btn_3 img{
	margin-bottom: -10px;
	margin-right: 13px;
}

/*Free Flood*/
.flood_wrapper {
    background-color: #1e4180;
    padding-top: 45px;
    padding-bottom: 50px;
}
.free_flood_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flood_text h2 {
    font-size: 50px;
    width: 400px;
    color: #fff;
}
.flood_text h2 span {
    display: block;
    color: #1e4180;
    -webkit-text-stroke: 1px #fff;
}
.flood_text p {
    color: #fff;
    font-size: 15px;
    padding-top: 15px;
}
.flood_btn .btn_4 {
    background-color: #f47f62;
    color: #fff;
    min-width: 365px;
    display: block;
    text-align: center;
    min-height: 69px;
    line-height: 68px;
    border-radius: 80px;
    font-size: 25px;
    transition: all 0.4s;
}
.flood_btn .btn_4:hover {
    background-color: #fff;
    color: #f47f62;
}
.flood_icon {
    margin-right: 35px;
}
.flood_btn {
    margin-left: 35px;
    margin-right: 70px;
}
.flood_imgs img {
    margin-right: 10px;
}
.flood_combine {
    display: flex;
    align-items: center;
}

/*Footer*/
.footer_wrapper {
    background-color: #f7f8f8;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer_links_block h3 {
    font-size: 20px;
    color: #f47f62;
    padding-bottom: 10px;
}
.footer_links_block ul li {
    padding-bottom: 10px;
}
.footer_links_block ul li a,
.con_foot span,
.con_foot p {
    color: #5b80c1;
    font-family: SofiaSoft;
    font-size: 16px;
    transition: all 0.2s;
}
.footer_links_block ul li a:hover {
    color: #1e4080;
}
.footer_contact .top-buttons {
    display: block;
    padding-top: 17px;
}
.footer_contact .top-buttons p{
	margin-left: 0;
	margin-bottom: 12px;
}
.footer_contact .top-buttons a {
    color: #5b80c1;
    font-size: 14px;
    transition: all 0.2s;
}
.footer_contact .top-buttons a:hover {
	color: #1e4080;
}

.footer_info ul li a {
    width: 34px;
    height: 34px;
    margin-left: 17px;
    font-size: 18px;
    line-height: 34px;
}
.footer_info .top-social {
	margin-left: 0;
	margin-top: 30px;
}
.footer_copyright {
    padding-top: 35px;
}
.footer_copyright p {
    font-size: 10px;
    color: #5b80c1;
}
.con_foot span {
    display: block;
    padding-bottom: 5px;
}
.con_foot p {
	line-height: 1.4;
}

/************************************** 3.0 - Catalog Style ************************/
.catalog_content_wrap {
    background-color: #f7f8f8;
    padding-top: 75px;
    padding-bottom: 35px;
}
.catalog_content_wrap .model_block {
    padding-bottom: 75px;
}
.catalog_content_wrap .container {
	max-width: 1200px;
}
.catalog_content_wrap .model_block .btn_5,
.product_right_block .product_prce .btn_5 {
    padding: 4px 9px 10px 5px;
    background-color: #f47f62;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    min-width: 130px;
    margin-left: 5px;
    border-radius: 50px;
    line-height: 11px;
    text-align: center;
}
.catalog_content_wrap .model_inner .btn_2 {
    padding: 7.5px 24px;
    min-width: 130px;
    text-align: center;
    display: inline-block;
}
.catalog_content_wrap .model_block .btn_5 img,
.product_right_block .product_prce .btn_5 img {
    width: auto;
    height: auto;
    margin-bottom: -5px;
}
.catalog_content_wrap .model_inner {
	padding-right: 0;
}

.tabs_left_main h2 {
    font-size: 40px;
    color: #f7f8f8;
    -webkit-text-stroke: 1px #1e4080;
    margin-bottom: 35px;
}
.tabs_left_main ul.nav.nav-pills {
    display: block;
    margin-bottom: 80px;
}
.tabs_left_main ul.nav.nav-pills li a {
    font-size: 24px;
    color: #f47f62;
    padding: 13px 5px 17px 23px;
}
.tabs_left_main .nav-pills .nav-link.active,
.tabs_left_main .nav-pills .show > .nav-link {
    background-color: #1e4080;
    color: #fff !important;
    padding: 13px 5px 17px 23px;
    width: 250px;
    display: block;
    border-radius: 0;
}
.tabs_left_main ul.nav.nav-pills li {
    margin-bottom: 5px;
}
.tab_left_links h3 {
    font-size: 24px;
    padding-bottom: 15px;
    color: #7f8f98;
}
.tab_left_links ul li {
    margin-bottom: 10px;
}
.tab_left_links li a {
    color: #7f8f98;
    font-size: 18px;
    opacity: 0.80;
    transition: all 0.3s;
}
.tab_left_links li a:hover {
	opacity: 1;
}
.tab_left_links {
    margin-top: 45px;
}
.tab_header h2 {
    font-size: 55px;
    color: #1e4080;
    padding-bottom: 70px;
}

/************************************** 4.0 - ProductPage Style ************************/
#sync1 .owl-nav,
#sync2 .owl-nav{
    display: none;
}
.product_page_wrapper {
    padding-top: 55px;
    padding-bottom: 150px;
    background-color: #f7f8f8;
}
.product_back_btn {
    padding-bottom: 35px;
}
.product_back_btn a {
    border: 2px solid #1e4080;
    color: #1e4080;
    border-radius: 100px;
    display: inline-block;
    min-width: 237px;
    text-align: center;
    padding: 3px 0px;
    transition: all 0.4s;
}
.product_back_btn a:hover{
	background-color: #1e4080;
	color: #fff;
}
.product_back_btn a:hover i{
	color: #fff;
}
.product_back_btn a i{
	font-size: 25px;
	color: #f47f62;
	vertical-align: sub;
	margin-top: 0;
	margin-right: 11px;
}
.product_gallery_block img {
    border-radius: 10px;
}
#sync2 .item {
    margin-top: 17px;
    margin-right: 7px;
    margin-left: 7px;
}
#sync2 .owl-item:first-child .item{
	margin-left: 0;
}
#sync2 .owl-item:last-child .item{
	margin-right: 0;
}
#sync2 .item img {
    height: 80px;
    width: 100%;
    object-fit: cover;
}
#sync1 .item img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}
.product_page_wrapper .container {
    max-width: 1190px;
}
.about_product_wrap h2 {
    font-size: 30px;
    color: #f47f62;
}
.about_inner h3 {
    color: #1e4080;
    font-size: 24px;
    padding-bottom: 5px;
}
.about_inner p {
    font-size: 18px;
    color: #7f8f98;
    font-family: SofiaSoft;
    line-height: 1.4;
}
.about_product_wrap {
    padding-top: 45px;
    padding-right: 60px;
}
.about_inner {
    padding-top: 25px;
}
.product_mdl {
    border-bottom: 2px solid #bec9ca;
}
.product_cart_block {
    border: 2px solid #bec9ca;
    border-radius: 10px;
    min-height: 543px;
    min-width: 380px;
}
.prduct_dtls ul li .p_title {
    color: #f47f62;
    display: block;
    font-size: 18px;
}
.prduct_dtls ul li .p_main {
	color: #7f8f98;
	display: block;
    font-size: 18px;
}
.product_mdl span {
    color: #f47f62;
    font-size: 18px;
}
.product_mdl .mdl-no {
    font-size: 50px;
    color: #1e4080;
    margin-top: -5px;
}
.product_prce {
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
}
.product_prce p {
    font-size: 45px;
    color: #f47f62;
}
.product_inner_mdl {
    padding: 24px 20px 21px 21px;
}
.prduct_dtls ul {
    padding: 35px 30px 0 35px;
}
.prduct_dtls ul li {
    padding-bottom: 28px;
}
.prduct_dtls ul li .p_title {
    color: #f47f62;
    display: block;
    font-size: 18px;
    padding-bottom: 6px;
}
.product_right_block .tab_left_links {
    margin-top: 35px;
    margin-left: 5px;
}
.product_right_block .tab_left_links ul li {
    margin-bottom: 10px;
    padding-right: 40px;
}
.product_left_block {
    padding-right: 10px;
    margin-left: -10px;
}

/************************************** 5.0 - PlanSupport Style ************************/
.inner_page_wrap {
    position: relative;
    background-color: #1e4180;
    min-height: 205px;
}
.inner_page_wrap img{
	width: 100%;
	height: 205px;
	object-fit: cover;
}
.innerpage_content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.innerpage_content h2 {
    font-size: 55px;
    text-transform: uppercase;
    color: #fff;
}
.inner_page_wrap .container {
    width: 1190px;
}

.plan_support_block {
    padding-top: 80px;
    background-color: #f7f8f8;
    padding-bottom: 110px;
}
.plan_support_block .container {
    max-width: 1190px;
}
.plan_content h2 {
    color: #f47f62;
    padding-bottom: 25px;
    font-size: 30px;
}
.plan_content h3 {
    color: #1e4080;
    font-size: 24px;
    padding-bottom: 5px;
}
.plan_content p {
    font-size: 18px;
    color: #7f8f98;
    font-family: SofiaSoft;
    padding-bottom: 25px;
    line-height: 1.4;
}
.plan_content_img {
    padding-right: 50px;
}
.plan_content_img img {
    width: 400px;
    height: 249px;
    float: left;
    border-radius: 10px;
    margin-right: 45px;
    margin-bottom: 20px;
    margin-top: 12px;
}
.plan_inner {
    padding-bottom: 10px;
}
.plan_support_quote {
	clear: both;
	background-color: #f47f62;
}
.plan_content {
    padding-bottom: 60px;
}
.plan_content p a {
    color: #f47f62;
    text-decoration: underline;
}
/*End*/

/************************************** 6.0 - ContactUs Style ************************/
.contactus_wrapper {
    background-color: #f7f8f8;
}
.contactus_wrapper .container {
    max-width: 1190px;
}
.contact_left_wrap h2 {
    font-size: 30px;
    color: #f47f62;
    padding-bottom: 25px;
}
.contact_left_wrap h3 {
    font-size: 24px;
    color: #1e4080;
    padding-bottom: 6px;
}
.contact_left_wrap ul li {
    padding-bottom: 25px;
}
.contact_left_wrap ul li span {
    font-size: 18px;
    color: #7f8f98;
    font-family: SofiaSoft;
    line-height: 1.4;
    display: block;
}
.contact_form_wrapper label {
    font-size: 20px;
    color: #1e4080;
    padding-bottom: 14px;
    display: inline-block;
    margin-left: 10px;
}
.contact_form_wrapper .form-control {
    width: 320px;
    height: 50px;
    border: 1px solid #bac6c7;
    border-radius: 10px;
}
.contact_form_wrapper .form-control:focus{
	border: 1px solid #1e4080;
}
.contact_form_wrapper .full_form .form-control{
	width: 100%;
}
.contact_form_wrapper textarea.form-control {
    width: 100%;
    height: 146px;
    resize: none;
}
.contact_form_wrapper {
    max-width: 800px;
    border: 1px solid #bec9ca;
    border-radius: 10px;
    padding: 40px 50px 43px 70px;
    margin-left: -5px;
}
.contactus_wrapper .col-md-8 {
	padding: 0;
}
.contactus_wrapper .form-row.form-group {
    padding-bottom: 25px;
}
.field_wrap .form-control {
	width: 329px;
	margin-right: 14px;
}
.field_wrap2 .form-control,
.field_wrap3 .form-control{
	width: 157px;
	margin-right: 14px;
}
.field_wrap3 .form-control {
	margin-right: 0;
}
.three_field {
    display: flex;
}
.contact_btn .form_btn {
    background-color: #f47f62;
    color: #fff;
    font-size: 21.25px;
    min-width: 227px;
    display: inline-block;
    transition: all 0.4s;
    text-align: center;
    min-height: 58px;
    line-height: 58px;
    border-radius: 100px;
}
.contact_btn .form_btn:hover {
    box-shadow: 0 0px 13px rgba(0,0,0,0.20);
}
.contact_btn {
    padding-top: 20px;
}
.contactus_wrapper .row {
    padding-top: 80px;
    padding-bottom: 82px;
}
.contact_form_wrapper .form-row.form-group.form-space1 {
    padding-bottom: 3px;
}
.contact_form_wrapper .form-row.form-group.form-space2 {
    padding-bottom: 32px;
}
/*End*/


/************************************** 7.0 - Register_SV Style ************************/
.sv_regiter_wrapper {
    background-color: #f7f8f8;
    padding-top: 80px;
    padding-bottom: 60px;
}
.sv_regiter_wrapper .register_form_wrapper .form-control:focus {
    border: 1px solid #1e4080;
}
.sv_regiter_wrapper .container {
	max-width: 1188px;
}
.sv_regiter_wrapper .register_form_wrapper {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    padding: 55px 90px 10px 95px;
}
.sv_regiter_wrapper .register_form_wrapper .form-control {
    width: 470px;
    height: 50px;
    border: 1px solid #bac6c7;
    border-radius: 10px;
}
.sv_regiter_wrapper .register_form_wrapper .full_form .form-control {
	width: 100%;
}
.sv_regiter_wrapper .sv_regiter_wrapper {
    background-color: #f7f8f8;
    padding-top: 80px;
}
.sv_regiter_wrapper .reg_title {
    font-size: 30px;
    padding-bottom: 60px;
    color: #f47f62;
} 
.sv_regiter_wrapper .register_form_wrapper .field_wrap .form-control {
    width: 483px;
}
.sv_regiter_wrapper .register_form_wrapper .field_wrap2 .form-control,
.sv_regiter_wrapper .register_form_wrapper .field_wrap3 .form-control {
    width: 231px;
}
.adj-form {
    justify-content: space-between;
}
.adj-form .col {
    flex-grow: unset;
}

.register_product_info .pur_from .form-control {
	width: 723px;
}
.register_product_info .pur_date .form-control {
	width: 230px;
}
.product_inner_block .col .form-control {
    width: 100%;
}
.product_inner_info {
    background-color: #d8dfdf;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 22px 30px 15px 25px;
}
.product_inner_add {
    margin-top: 10px;
}
.product_inner_add a {
    background-color: #bac6c7;
    display: block;
    text-align: center;
    border-radius: 10px;
    min-height: 57px;
    font-size: 20px;
    color: #1e4080;
    line-height: 57px;
}
.product_inner_add a span {
	font-family: Arial;
	display: inline-block;
	margin-right: 5px;
}
.register_product_info {
    margin-top: 30px;
    padding-bottom: 75px !important;
    margin-bottom: 30px;
}

.feedback_form .feed_block_input .form-control {
    width: 723px;
}
.feedback_form .form-check-label {
	padding-bottom: 0;
	color: #606768;
}
.feedback_form .feed_block_input {
    padding-bottom: 25px;
}
.feedback_form .feed_block_radio {
    padding-bottom: 6px;
}
.feedback_form .form-check.form-check-inline {
    margin-left: 25px;
    margin-right: 15px;
}
.feedback_form .form_install {
    margin-top: 10px;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 0;
    text-align: center;
}
.star-rating input {
  display:none;
}
.star-rating label {
    color: #bac6c7;
    cursor: pointer;
    font-size: 40px;
}
.star-rating :checked ~ label {
  color:#f47f62;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#f47f62;
}
.install_rating {
    margin-left: 15px;
}

.feed_expnce textarea.form-control {
    max-width: 490px;
    width: 490px !important;
    height: 99.5px !important;
}

.browse_block span {
    font-size: 20px;
    color: #606768;
    font-family: SofiaSoft;
}
.browse_block button {
    background-color: #f47f62;
    border: none;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    min-width: 148px;
    min-height: 47px;
    border-radius: 70px;
    margin-left: 20px;
}
.browse_block {
    margin-top: 23px;
}
.feed_browse {
    margin-left: 41px;
    margin-bottom: 40px;
}

.feedback_form.contact_form_wrapper.register_form_wrapper {
    padding-bottom: 22px;
}
.feed_check {
    margin-bottom: 4px;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}
.custom-control-label::before {
    width: 20px;
    height: 20px;
    border: #bac6c7 solid 1px;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #f47f62;
    background-color: #f47f62;
}
.custom-control-label::after {
    width: 20px;
    height: 20px;
}
.custom-control-input:focus ~ .custom-control-label::before{
	box-shadow: none;
}
.custom-control-label {
    padding-left: 3px;
    padding-right: 10px;
    padding-top: 3px;
}

.agree_check {
    padding: 29px 0 0 27px;
    width: 900px;
}
.agree_check span {
    font-size: 16px;
    color: #1e4080;
    font-family: SofiaSoft;
    line-height: 1.4;
    display: block;
    padding-bottom: 14px;
}
.agree_check .custom-control-label {
    font-size: 20px;
    color: #1e4080;
    padding-left: 6px;
}


.regsiter_submit_wrap {
    padding-top: 35px;
    display: flex;
    align-items: center;
}
.regsiter_submit_wrap .form-group {
    margin-bottom: 0;
}
.register_btn .regisbtn_lnk {
    font-size: 21.25px;
    background-color: #f47f62;
    color: #fff;
    min-width: 227px;
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 59px;
    transition: all 0.4s;
    margin-left: 35px;
}
.register_btn .regisbtn_lnk:hover{
	box-shadow: 0 0px 13px rgba(0,0,0,0.20);
}


/********************************************************************* The End *******************************************************/